nav {
    list-style-type: none;
    margin: 0;
    padding-bottom: 10px;
	padding-top: 10px;
    overflow: hidden;
    background-color: #333;
	width:100%;
}

nav a {
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
	 -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

nav a:hover{
	background-color: #222;
}

.links{ 
	width:100%;
}

header {
	width:100%;
	padding-top:10px;
	background-color:#fff;
}

header img{
	diswatch:inline;
	width:400px;
	margin-left:10px;
}

h1{
	margin-top:30px;
	margin-right:10px;
	float:right;
	color:#333;
}
h2{
	text-align: center;
}
body{
	background:#fff;
	font-family: 'Abel', sans-serif;

}

* {
margin:0;
padding:0;
font-family: 'Abel', sans-serif;
}

.none a{
	background-color:#B72927;
    border:none;
    color:white;
    padding:5px;
    text-align:center;
    text-decoration:none;
    diswatch:inline-block;
    -webkit-transition-duration:0.4s; /* Safari */
    transition-duration:0.4s;
    cursor:pointer;
}

none a:hover{
	background-color:#841F1F;
}

.none button{
	background-color:#B72927;
	border:none;
    color:white;
    padding:5px;
    text-align:center;
    text-decoration:none;
    diswatch:inline-block;
	font-size:16px;
    -webkit-transition-duration:0.4s;
    transition-duration:0.4s;
    cursor:pointer;
}

none button:hover{
	background-color:#841F1F;
}

.none{
	margin-left:10px;
	margin-top:10px;
}

.none h2{
	margin-bottom:50px;
}

.none h3{
	margin-bottom:50px;
}

.addnew {
	margin-left:10px;
	margin-top:10px;
}

.shows {
	margin-left:auto;
	margin-top:auto;
	background-color: #333;
}

.shows h2{
	margin-top:10px;
}

.shows button{
	position:absolute;
	width:100%;
	bottom:0;
	left:0;
}

.details{
	margin-top:10px;
	margin-left:10px;
}

button{
	background-color:#B72927;
    border:none;
    color:white;
    padding:5px;
    text-align:center;
    text-decoration:none;
    diswatch:inline-block;
	font-size:16px;
    -webkit-transition-duration:0.4s;
    transition-duration:0.4s;
    cursor:pointer;
    border-radius: 5px 5px 5px 5px;
    width:200px;
}

button:hover{
	background-color:#841F1F;
}
.about{
	padding: 50px;
	margin: 25px;
}
#about{
	padding: 35px;
}
.contact{
	text-align: center;

}
/**---------Form styling starts--------**/
#formposition{
	position: relative;
}
#forms{
	position: absolute;
	float: center;
	left: 0;
	right: 0;
	top: 150px;
	margin-left: auto;
	margin-right: auto;
	background-color: #333;
	color: white;
	padding: 60px;
	border-radius: 30px 30px 30px 30px;
	box-shadow: 15px 15px 15px 15px;
	max-width: 500px;
	height:300px;
}
.login{
	float: right;
	padding: ;
}
.register{
	float: left;
}
.login, .register{
	text-align: center;
}
input{
	width: 100%;
	padding: 5px;
	border-radius: 5px 5px 5px 5px;
}
#profile input, select{
	width: 250px;
	padding: 5px;
	border-radius: 5px 5px 5px 5px;
}
/**---------Form styling Ends--------**/
/**Fade Caption Effect for Images
based off the tutorial from http://demo.hongkiat.com/css3-image-captions/index.html**/
#mainwrapper{
	position: absolute;
	float: center;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
}
#mainwrapper .box {
	border: 5px solid #fff;
	cursor: pointer;
	height: 300px;
	float: left;
	margin: 5px;
	position: relative;
	overflow: hidden;
	width: 200px;
		-webkit-box-shadow: 1px 1px 1px 1px #ccc;
		-moz-box-shadow: 1px 1px 1px 1px #ccc;
		box-shadow: 1px 1px 1px 1px #ccc;
}
#mainwrapper .box img {
	position: absolute;
	height: 300px;
	width:200px;
	left: 0;
		-webkit-transition: all 300ms ease-out;
		-moz-transition: all 300ms ease-out;
		-o-transition: all 300ms ease-out;
		-ms-transition: all 300ms ease-out;	
	transition: all 300ms ease-out;
}

/* Caption Common Style */
#mainwrapper .box .caption {
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	color: #fff;
	z-index: 100;
		-webkit-transition: all 300ms ease-out;
		-moz-transition: all 300ms ease-out;
		-o-transition: all 300ms ease-out;
		-ms-transition: all 300ms ease-out;	
		transition: all 300ms ease-out;
	left: 0;
}

#mainwrapper .box .fade-caption, #mainwrapper .box .scale-caption  {
	opacity: 0;
	width: 170px;
	height: 300px;
	text-align: left;
	padding: 15px;
}
#mainwrapper .box:hover .fade-caption, #mainwrapper .box:hover .scale-caption  {
	opacity: 1;
}
/**---------Fade Caption Effect End--------**/